<fieldset>
    <h2>Agregar nuevo Recluta</h2>
    <form id="formularioReclutas">
        <div class="container">
            <div class="left">
                <div class="con-input">
                    <label for="nameRecluta">Nombre Recluta</label>
                    <input required type="text" name="nameRecluta" placeholder="Nombre del Recluta"> <br><br>
                </div>
                
                <div class="con-input">
                    <label for="edad">Edad</label>
                    <input required type="text" name="edad" placeholder="Edad"> <br><br>
            
                </div>
                <div class="con-input">
                    <label for="telefono">Telefono</label>
                    <input required type="tel" name="telefono" placeholder="telefono"><br><br>
                </div>
                <div class="con-input">
                    <label for="email">Email</label>
                    <input required type="email" name="email" placeholder="email"><br><br>
                </div>
            </div>
            <div class="rigth">
                <div class="con-input">
                    <label for="direccion">Direccion</label>
                    <input required type="text" name="direccion" placeholder="direccion"><br><br>
                </div>
                <div class="con-input">
                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                <input required type="date" name="fechaNacimiento" placeholder="fecha Nacimiento"><br><br>
                </div>
                <div class="con-input">
                    <label for="numIdentificacion">Numero identificacion</label>
                <input required type="number" name="numIdentificacion" placeholder="Numero identificacion"><br><br>
                </div>
                <div class="con-input">
        
                <label for="fechaIngreso">Fecha Ingreso al Programa</label>
                <input required type="date" name="fechaIngreso" placeholder="Fecha Ingreso"><br><br>
                </div>
            </div>
        </div>
       <div style="width: 100%; display: flex; justify-content: center;">
        <div class="con-select">
            <label for="optionTeam">Team</label>
            <select name="teamId" id="optionTeam">
               
            </select> <br><br>
        </div>
       </div>
      <div class="containerButtons">
        <button type="submit" id="Agregar">Agregar</button>
        <button type="button" id="btnRegistro">Mostrar Registro</button>
      </div>
        
    </form>
</fieldset>
<div class="containerFiltros">
    <h2>Filtros</h2>
    <div class="containerInputFiltro">
        <div>
            <label for="mayorMeses">Reclutas con mas de 2 meses en el programa--</label>
            <input class="button" type="button" value="Filtrar" id="mayorMeses">
        </div>
        <div>
            <label for="teams">filtrar por Team</label>
            <select name="teams" id="selectTeamFilter"></select></div>
        </div>
</div>
    
    
    
    
<div class="registro">
    
</div>

<style>
    fieldset{
        border: none;
    }
    h2{
        font-size: 2rem;
        color: white;
        text-align: center;
        margin: 0;
        margin-bottom: 25px;
    }
    .registro{
        width: 100%;
        
        display: grid;
        place-content: center;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left{
        margin-right: 2rem;
    }
    .con-input{
        display: flex;
        flex-direction: column;
    }
    label{
        font-size: 1.5rem;
        color: white;
        margin-bottom: 3px;
    }
    .con-input input{
  border: none;
  font-size: 1.2rem;
  height: 0.4rem;
  outline: 0;
  padding: 15px;
  border-radius: 10px;
  background-color:#25227ed2;
  color: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
    .con-select{
        display: flex;
        flex-direction: column;
        width: 60%;
        text-align: center;
    }
    .con-select select{
        border-radius: 10px;
        padding: 5px;
        background-color:#25227ed2;
        color: white;
        font-size: 1.1rem;
    }
    .containerButtons{
        margin-top: 10px;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    button:nth-child(1){
        margin-right: 15px;
    }
    button{
        font-size: 1.2rem;
        padding: 5px 10px;
        border: none;
        border-radius: 8px;
        background-color: white;
        color: #25227ed2;
        transition: all .5s ease;
        margin-bottom: 10px;
    }
    button:hover{
        cursor: pointer;
        background-color: #25227ed2;
        color: white;
        transition: all .5s ease;
    }
    .containerFiltros{
        width: 100%;
        text-align: center;

    }
    .containerFiltros h2{
        color: white;
        font-size: 2rem;
        text-align: center;
    }
    .containerInputFiltro{
        display: flex;
        flex-direction: column;
    }
    .containerInputFiltro .button{
        font-size: 1.2rem;
        padding: 5px 10px;
        border: none;
        border-radius: 8px;
        background-color: white;
        color: #25227ed2;
        transition: all .5s ease;
        margin-bottom: 10px;
    }
    .containerInputFiltro .button:hover{
        cursor: pointer;
        background-color: #25227ed2;
        color: white;
        transition: all .5s ease;
    }
    .containerInputFiltro select{
        border-radius: 10px;
        padding: 5px;
        background-color:#25227ed2;
        color: white;
        font-size: 1.1rem;
    }
    .titleRegistro{
        font-size: 2rem;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    table{width: 700px;
         border-collapse: collapse;
         margin-bottom: 15px;
        }

td, th{ border: 1px solid transparent;
     height: 30px;
    padding: 0 30px;}

th{ background: #25227ed2;
     font-weight: bold; 
     color: white; }

td{ background: #FAFAFA;
     text-align: center; }

tr:nth-child(even) td{ 
    background: #8f8ab4; }  

tr:nth-child(odd) td{ 
    background: #FEFEFE; }   
.cont-eliminar{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.eliminar{
    margin: 0;
    margin: 5px;
    background-color: #25227ed2;
    color: white;
}
.eliminar:hover{
    background-color: white;
    color: #25227ed2;
}
</style>